---
---

html {
    background-color: #fefefe;
}
body {
    width: 30em;
    margin: 1em auto;
    color: #333;
    font-family: 'EB Garamond', serif;
    font-size: 150%;
    line-height: 150%;
}
body > header + p {
    font-family: 'Julius Sans One', sans-serif;
    color: #bbb;
    font-size: 80%;
    text-indent: 0;
}
h1, h2, h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: normal;
}
h1 {
    font-size: 250%;
    margin: 0;
    letter-spacing: 0.05em;
    color: #c77;
    line-height: 1em;
    margin-bottom: 1em;
}
h1, h2 {
    text-transform: uppercase;
}
h2, h3 {
    margin: 1.5em 0 0.5em;
    color: #b66;
}
h1 + p, h2 + p, h1 + figure + p, header + figure + p {
    text-indent: 0;
}
p {
    margin: 0;
    margin-bottom: 0.25em;
    text-align: justify;
    text-indent: 0.75em;
}
h2+ p, p + p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
strong {
    letter-spacing: 0.025em;
}
em {
    font-family: 'Baskerville Libre', serif;
    font-size: 90%;
    letter-spacing: 0.01em;
}
a {
    text-decoration: none;
    color: #c77;
}
blockquote {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    text-align: left;
    font-size: 110%;
    color: #999;
}
code {
    display: block;
    background-color: #f9f9f9;
    font-family: 'Cutive Mono', monospace;
    padding: 0.5em;
    margin: 1em 0;
    white-space: pre-wrap;
    font-size: 90%;
    text-indent: 0;
}
code.inline {
    display: inline;
    font-size: 80%;
}
dt:before {
  content: "";
  display: block;
}
dt, dd {
  display: inline;
}
dt {
    font-weight: bold;
}
dd {
    margin-inline-start: 1em;
}
header {
    margin-bottom: 3em;
}
header a {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 95%;
    color: #bbb;
    letter-spacing: 0.25em;
}
header > a {
    display: block;
    width: 100%;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}
nav {
    width: 100%;
}
header ul {
    float: right;
    margin-top: 0;
    text-align: right;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
header li {
  display: inline;
  list-style-type: none;
  padding-left: 1em;
  text-align: right;
}
header li a {
    font-size: 65%;
}
#main_content > p:first-child {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 150%;
    line-height: 120%;
    margin: 1em 0 2em;
    color: #999;
}
footer {
    width: 100%;
    margin-top: 3em;
    border-top: 1px solid #ccc;
    padding-top: 1em;
    padding-bottom: 2em;
    color: #ccc;
    text-align: center;
    font-family: 'Baskerville Libre', serif;
    font-size: 90%;
    font-style: italic;
    letter-spacing: 0.01em;
}
footer div {
    display: inline-block;
    width: 50%;
    text-align: left;
    vertical-align: top;
    text-indent: -1em;
}
footer div + div {
    text-align: right;
}
footer > nav {
    margin-bottom: 1em;
}
figure {
    margin: 1em auto 1em;
    text-align: center;
}
figure.floatright {
    float: right;
    margin-left: 1em;
    margin-right: -3em;
    max-width: 33%;
    text-align: left;
}
figure img {
    max-width: 100%;
}
figcaption {
    color: #888;
    font-size: 80%;
    line-height: 120%;
}

iframe, object {
    display: block;
    margin: 1em auto;
    max-width: 100%;
}
object {
    width: 100%;
}
#articleList {
    list-style-type: none;
    padding-left: 0;
}
#articleList div {
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 75%;
    color: #bbb;
    letter-spacing: 0.25em;
}
#articleList li {
    margin-bottom: 1em;
}
#articleList h2 {
margin-top: 0;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 150%;
    letter-spacing: 0.05em;
    color: #c77;
    line-height: 1em;
    text-transform: uppercase;
    color: #b66;
}
#articleList p {
    text-align: justify;
    hyphens: auto;
}

@media screen and (max-width: 600px) {
    body {
        width: 100%;
        margin: 0;
        padding: 1em;
        font-size: 150%;
        line-height: 150%;
    }
    header > a {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 125%;
        border-bottom: 1px solid #ddd;
    }
    nav {
        display: block;
        width: 100%;
        text-align: center;
    }
    nav ul {
        padding-left: 0;
        text-align: center;
    }
    nav li {
        padding: 0em 0.5em;
    }
    h1 {
        font-size: 140%;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
    p {
        text-align: left;
    }
    em {
        font-size: 80%;
    }
    blockquote {
        font-size: 100%;
    }
    object {
        width: 100%;
    }
    figure.floatright {
        float: none;
        margin: 1em auto;
        padding: 0;
        max-width: 100%;
        text-align: center;
    }
    #articleList div:last-child {
        text-align: left;
    }
}
