<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans+Condensed:300|Baskerville+Libre|Julius+Sans+One|Cutive+Mono" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta property="og:image" content="{{ page.twitpic }}">
{% seo %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@tomchadwin">
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:image" content="{{ page.twitpic }}" />
  </head>

  <body>

    <!-- HEADER -->
    <header>
        <a href="/">tom.chadw.in</a>
        <nav>
            <ul>
                <li><a href="/articles">articles</a></li>
                <li><a href="/qgis2web">qgis2web</a></li>
                <li><a href="/osgeo">OSGeo</a></li>
                <li><a href="/piespy">Pie Spy</a></li>
            </ul>
        </nav>
    </header>
    <!-- MAIN CONTENT -->
{% if page.date %}
    <p>{{ page.date | date: "%e %B %Y" }}</p>
{% endif %}

    {{ content }}

    <!-- FOOTER  -->
    <footer>
{% if page.next != nil or page.previous != nil %}
      <nav>
        <div>
{% if page.next != nil %}
            <a href="{{page.next.url}}">{{page.next.title}}</a>
{% endif %}
        </div><div>
{% if page.previous != nil %}
            <a href="{{page.previous.url}}">{{page.previous.title}}</a>
{% endif %}
        </div>
      </nav>
{% endif %}
      <p>
        <a href="https://twitter.com/tomchadwin">
            <img src="/assets/pics/twitter.png" alt="Twitter" /></a>
        <a href="https://github.com/tomchadwin">
            <img src="/assets/pics/github.png" alt="Github" /></a>
        <a href="https://linkedin.com/in/tomchadwin/">
            <img src="/assets/pics/linkedin.png" alt="LinkedIn" /></a>
      </p>
    </footer>
  </body>
</html>
